*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #333;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    color:rgb(255, 255, 255);
    background-color:rgb(5, 5, 5);
    padding: 20px;
    border-radius: 40px;
    box-shadow: rgba(255, 255, 255, 0.09) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}
.navbar-links{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    position: absolute;
    right: 50px;
}
.navbar-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar-links a:hover{
    color: #888;
    cursor: pointer;
}
.searchbar{
    width: 100%;
    height: 100px;
    margin:0px;
    padding: 20px;
    margin-top: 40px;
    text-align: center; 
}
.searchbar input{
    width: 1500px;
    height: 40px;
    padding:10px;
    text-align: center;
    border: 5px solid grey;
    border-radius: 30px;
}
.container{
    height: 300px;
    width: 100%;
}
.images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 5%;
    margin-top: 30px;
    padding: 40px;
}
.images img {
    width: 400px;
    height:auto;
    margin: 10px;
    border-radius: 20px;
}
.img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210, 210, 210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.h1{
    text-align: center;
    color:rgb(255, 255, 255);
    margin-top: 20px;
}
.categories{
    height: 100px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis:5%;
    margin-top: 70px;

}
.categories  div a {
    text-decoration: none; 
    color:rgb(255, 255, 255);
    text-align: center; 
}
.categories div a img{
    border-radius: 20px;    
}
.categories div a img:hover{
    transform:scale(0.9) ;
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.box{
    padding: 20px;
}
.box:hover{
    cursor: pointer;
}
/*chat gpt code*/
.aboutus {
    margin-top: 15%;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(210, 210,210, 0.2);
    opacity: 0;
    transform: translateY(20px) rotate(0deg);
    animation: fadeInUp 0.8s forwards;
    background-color: black;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px) rotate(60deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
}
.aboutus p {
    line-height: 2;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid  rgb(255, 255, 255);
}
.aboutus p:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /*transform: scale(1.05) rotate(360deg);*/
}

.aboutus b {
    color: black;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.aboutus p:last-child {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    color:black;
}
.aboutus p:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    border-left: 5px solid gray;
}
.aboutus p:nth-child(even) {
    background-color: rgb(255,255,255);
}
.aboutus br {
    display: none;
}
/**/

/*Styling Categories*/
.Diabetes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Diabetes div img{
    border-radius: 30px;
}
.Diabetes div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Bone{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Bone div img{
    border-radius: 30px;
}
.Bone div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Derma_care{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Derma_care div img{
    border-radius: 30px;
}
.Derma_care div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Eye_care{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Eye_care div img{
    border-radius: 30px;
}
.Eye_care div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Heart_care{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Heart_care div img{
    border-radius: 30px;
}
.Heart_care div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Kidney_care{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Kidney_care div img{
    border-radius: 30px;
}
.Kidney_care div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Liver_care{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Liver_care div img{
    border-radius: 30px;
}
.Liver_care div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Respiratory_care{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Respiratory_care div img{
    border-radius: 30px;
}
.Respiratory_care div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Stomach_care{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-basis: 10%;
    padding:60px;
    column-gap: 40px;
    row-gap: 30px;
    background-color: black;
}
.Stomach_care div img{
    border-radius: 30px;
}
.Stomach_care div img:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 20px rgb(210,210,210);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
